* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: olive;

}


h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;

}

#contenedor2 {
    margin-left: 800px;

}

#nav_bar {
    background-color: blue;
    position: absolute;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}

#listado_libros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin : 20px;
    background-color: brown;
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: black;
    
}

.btn {
    background-color: blue;
    color: white;
    font-weight: bold;
    margin: 10px;
}

.btn:hover {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    transform: scale(1.2);
    
}