* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(249, 246, 212);

}


h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    background: linear-gradient(to right, black,rgb(120, 89, 20), goldenrod,rgb(141, 90, 6), black);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip: text;
    text-align: center;
    background-color: black;
    font-size: 80px;
}
#input_buscar {
    border-color: goldenrod;
    border-width: 2px;
    width: 300px;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;

}

#contenedor2 {
    margin-left: 800px;

}

#nav_bar {
    background: linear-gradient(to right, black,rgb(120, 89, 20), goldenrod,rgb(141, 90, 6), black);
    position: absolute;
    color: #f9e29c;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
}
.navbar-brand {
    color: white;
}
.nav-link {
    color: white;
}

#listado_libros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card {
    margin : 20px;
    background-color: rgb(253, 252, 225);
    border-style: outset;
    border-color: #f9e29c;
    border-width: 2px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    color: black;
    
}

.btn {
    color: white;
    font-weight: bold;
    margin: 10px;
}

.btn:hover {
    background-color: goldenrod;
    text-shadow: #333;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    
}
th{
    background-color: goldenrod;
}